/* General App Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6e9;
  color: #13334c;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
header {
  background-color: #13334c;
  color: #f6f6e9;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

/* Footer Styles */
footer {
  
  background-image: linear-gradient(#0c4083, #093856);
  color: #f6f6e9;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

/* Main Content Styles */
main {
  flex-grow: 1;
  padding: 20px;
}

/* Dataset Upload Styles */
.dropzone {
  border: 2px dashed #005792;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  color: #005792;
  cursor: pointer;
  margin-bottom: 20px;
}

.dropzone:hover {
  background-color: #fd5f00;
  color: #f6f6e9;
}

/* Dataset List Styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #13334c;
  color: #f6f6e9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

li span {
  flex-grow: 1;
}

li input[type="color"] {
  margin-right: 10px;
}

li button {
  background-color: #e48951;
  color: #f6f6e9;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

li button:hover {
  background-color: #215b88;
}

/* Axis Selection Styles */
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 5px;
  border: 1px solid #13334c;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Chart Container Styles */
.chart-container {
  background-color: #f6f6e9;
  padding: 20px;
  border-radius: 4px;
  box-shadow: fd5f00;
}

/* Stats Card Styles */
.stats-card {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #005792;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.stats-item {
  min-width: 100px;
  margin-right: 10px;
  padding: 10px;
  background-color: #fd5f00;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.stats-item:last-child {
  margin-right: 0;
}


.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f6f6e9;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.flex-item {
  margin: 0 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

