.stats-card {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #FFB0B0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.stats-item {
  min-width: 150px;
  margin-right: 10px;
  padding: 10px;
  background-color: #E57373;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.stats-item:last-child {
  margin-right: 0;
}
